@model PlatesDetailViewModel

<article>
<h2>Personaliseer je keuze en bestel.</h2>
<section class="product-detail">
    <div class="info">
        <p>@ViewBag.Title</p>
        <p>Je bestelde de @Model.Type met artikelnummer ="@Model.Id".</p>
        <p>UNDER CONSTRUCTION</p>
    </div>
    <div class="image">
        <img asp-append-version="true" class="detail-view" src="@ViewBag.ImageString" alt="@Model.Material" />
    </div>
</section>
</article>